// set varibles here:
$container_width: 90%;
$margin_center: 0 auto;
$primary_900: rgb(169, 169, 169);
$primary_background:rgb(34, 34, 34);
$body_background:#f9f9f9f9;
$parallax_color:#359381;
$hover_color:#fff;
$secondary_color:#333;
$sec_background: #003329;